S3method(braidCompile,default)
S3method(braidSave,default)
export(as.braid)
export(braidCompile)
export(braidFilename)
export(braidHeading)
export(braidLatexOutline)
export(braidPlot)
export(braidSave)
export(braidWrite)
export(is.braid)
export(latexTranslate)
importFrom(Hmisc,"%nin%")
importFrom(Hmisc,"substring2<-")
importFrom(Hmisc,sedit)
importFrom(plyr,laply)
